:root{
    /* Colors. */
    --white: #ffffff;
    --primary-blue: #1a759f;
    --primary-grey: #edf6f9;
    --secondary-grey: #adb5bd;
    --success: #3bc53b;
    --warning: #eee024;
    --danger: #eb3636;
}